/__init__.pyc
/test_aws.pyc
/test_cloudstack.pyc
/test_digitalocean_v1.pyc
/test_digitalocean_v2.pyc
/test_gandi.pyc
/test_google.pyc
/test_openstack.pyc
/test_openstack_identity.pyc
/test_retry_limit.pyc
/test_runabove.pyc
