/__init__.pyc
/archive_util.pyc
/depends.pyc
/dist.pyc
/extension.pyc
/launch.pyc
/lib2to3_ex.pyc
/monkey.pyc
/msvc.pyc
/package_index.pyc
/py26compat.pyc
/py27compat.pyc
/py31compat.pyc
/sandbox.pyc
/site-patch.pyc
/ssl_support.pyc
/unicode_utils.pyc
/utils.pyc
/version.pyc
/windows_support.pyc
