/__init__.pyc
/alias.pyc
/bdist_egg.pyc
/bdist_rpm.pyc
/bdist_wininst.pyc
/build_ext.pyc
/build_py.pyc
/develop.pyc
/easy_install.pyc
/egg_info.pyc
/install.pyc
/install_egg_info.pyc
/install_lib.pyc
/install_scripts.pyc
/register.pyc
/rotate.pyc
/saveopts.pyc
/sdist.pyc
/setopt.pyc
/test.pyc
/upload.pyc
/upload_docs.pyc
