/__init__.pyc
/_helpers.pyc
/client.pyc
/connection.pyc
/dataset.pyc
/job.pyc
/query.pyc
/table.pyc
/test__helpers.pyc
/test_client.pyc
/test_connection.pyc
/test_dataset.pyc
/test_job.pyc
/test_query.pyc
/test_table.pyc
