/__init__.pyc
/auth.pyc
/auth_handler.pyc
/compat.pyc
/connection.pyc
/exception.pyc
/handler.pyc
/https_connection.pyc
/jsonresponse.pyc
/plugin.pyc
/provider.pyc
/regioninfo.pyc
/requestlog.pyc
/resultset.pyc
/storage_uri.pyc
/utils.pyc
