/__init__.pyc
/acl.pyc
/bucket.pyc
/bucketlistresultset.pyc
/bucketlogging.pyc
/connection.pyc
/cors.pyc
/deletemarker.pyc
/key.pyc
/keyfile.pyc
/lifecycle.pyc
/multidelete.pyc
/multipart.pyc
/prefix.pyc
/resumable_download_handler.pyc
/tagging.pyc
/user.pyc
/website.pyc
